<div style="text-align: center;">
  <h1>About</h1>

  <h2>Technologies</h2>

  <p>JRuby</p>

  <p>Sinatra</p>

  <p>twitter4j</p>

  <p>MongoDB</p>

  <h2>Deployment</h2>

  <p>This application is deployed in OpenShift PAAS by Red Hat. OpenShift was chosen, because it provides all required
    technologies with very generous HW resources and ease of use.</p>

  <h3><a href="http://blog-mjelen.rhcloud.com/article/twitter-monitoring-with-jruby-and-mongodb">Learn more</a></h3>
</div>