<div style="text-align: center;">
  <h1>About</h1>
  <p>StreamflowBot is a Twitter bot by <a href="http://www.coseppi.com">James Seppi</a>. Streamflowbot  uses USGS National Water Information System Instantaneous Value <a href="http://waterservices.usgs.gov/rest/IV-Service.html">web services</a> to automatically report stream discharge and gage height to users who mention <a href="http://www.twitter.com/streamflowbot">@StreamflowBot</a> along with a USGS Site ID.</p>

  <!--
  <h2>Technologies</h2>
  <div>
    <ul>
      <li>JRuby</li>
      <li>Sinatra</li>
      <li>twitter4j</li>
      <li>MongoDB</li>
    </ul>
  </div>-->

  <h2>Deployment</h2>

  <p>This application is deployed in the OpenShift PAAS by Red Hat. StreamflowBot is based off of code by <a href="https://github.com/marekjelen/twitter-jruby-mongo">Marek Jelen</a> and modified by <a href="http://www.coseppi.com">James Seppi</a></p>

  <h3><a href="http://blog-mjelen.rhcloud.com/article/twitter-monitoring-with-jruby-and-mongodb">Learn more</a></h3>
</div>